@model Data_Access.Entities.MedicineInformation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicineInformation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveIngredients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveIngredients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DosageForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DosageForm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarningsAndPrecautions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarningsAndPrecautions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.ManufacturerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MedicineId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
